:root {
  --black: #000000; /*basket-item-weight*/
  --black-dark: #2c2829; /*close-button bg*/
  --black-darkest: #231f20; /*hits*/
  --black-main: #323232; /*gllacy advantages text, blog-section, request block, basket-item-price*/
  --blue: #8996a6; /*background-green*/
  --box-shadow: rgba(0, 0, 0, 0.4);
  --box-shadow-active: #696969;/*navigation*/
  --box-shadow-bg: rgba(85, 8, 0, 0.54);
  --brown: #53301c; /*banner-chocolate-bg*/
  --brown-pale: #9d8b84; /*background-brown*/
  --brown-sand: #f3e7d1; /*preferences-bg*/
  --button-bg: linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  --button-bg-active: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  --button-bg-hover: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  --button-shadow: rgba(172, 16, 0, 0.64);
  --button-shadow-active: #942718;
  --button-shadow-hover: #ac1000;
  --gray: #cacac7; /*baasket-border*/
  --gray-dark: #999999; /*placeholders-text*/
  --gray-darkest: #5a5a5a; /*subscription-text*/
  --gray-pale: #f8f7f4; /*subscription, basket*/
  --gray-pale-transparent: rgba(178, 178, 178, 0.52); /*subscription-border-color*/
  --gray-transparent: rgba(49, 50, 53, 0.5); /*catalog-prices-text-shadow*/
  --green: #849d8f; /*background-green*/
  --input-border: #d3d3d2;
  --input-border-active: rgba(46, 136, 228, 0.52);
  --input-border-hover: rgba(178, 178, 178, 0.52);
  --link: #ffffff;
  --link-dark: #323232;
  --link-dark-hover: #e84d37;
  --link-dark-hover-underline: rgba(232, 77, 55, 0.3);
  --link-dark-underline: rgba(50, 50, 50, 0.3);
  --link-hover: #ffbc9e;
  --link-hover-underline: rgba(255, 188, 158, 0.3);
  --link-underline: rgba(255, 255, 255, 0.3);
  --menu-active: #f6b5a5;
  --menu-hover: #fbded7;
  --menu-no-link: #d07058;
  --nav-active: #ededed;
  --nav-hover: var(--white);
  --nav-no-link: #d07058;
  --red: #e84d37; /*map-pin*/
  --red-dark: #94000d; /*banner-raspberry-bg*/
  --white: #ffffff;
  --white-darkest: #fefefe; /*contacts-bg*/
  --white-light-transparent: rgba(255, 255, 255, 0.5); /*socials-border*/
  --white-pale: rgba(255, 255, 255, 0.8); /*socials-bg*/
  --white-pale-transparent: rgba(255, 255, 255, 0.7); /*socials-border*/
  --white-transparent: rgba(255, 255, 255, 0.2); /*icon/forms - backgroundS, catalog-item-bg*/
}

body {
  position: relative;

  display: grid;

  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", "Arial", sans-serif;
  color: var(--white);

  background-color: var(--green);

  grid-template-rows: auto auto 60px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

.button {
  padding: 11px 17px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: var(--white);
  text-decoration: none;

  background-image: var(--button-bg);
  border: none;
  border-radius: 50px;
  box-shadow: 0 2px 2px var(--button-shadow);
}

.button:hover,
.button:focus {
  background-image: var(--button-bg-hover);
  box-shadow: 0 2px 2px var(--button-shadow-hover);
}

.button:active {
  background-image: var(--button-bg-active);
  box-shadow: inset 0 2px 2px var(--button-shadow-active);
}

.button-white {
  width: 144px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(---white);

  background-color: var(--white-transparent);
  background-image: none;
}

.button-white:hover,
.button-white:active {
  color: var(--black-main);

  background-color: var(--white);
  background-image: none;
}

.page {
  height: 100%;
}

.page-body {
  display: grid;
  align-content: start;
  min-height: 100%;

  grid-template-rows: min-content 1fr min-content;
}

.bg-light {
  background-image: url(../img/bg-light.png);
  background-repeat: no-repeat;
  background-position-x: 50%;
}

.header-wrapper {
  position: relative;
  z-index: 2; /* Все меню выше блоков contacts-short, slider */

  display: grid;
  margin-bottom: 2px;
  padding-top: 9px;

  column-gap: 20px;

  grid-template-columns: auto 267px;
}

.main-nav {
  position: relative;

  display: flex;

  grid-column: 1 / -1;
}

.main-logo-link {
  margin-right: 9px;
}

.main-logo {
  display: block;
}

.site-nav {
  display: flex;
  flex-wrap: wrap;
  width: 680px;
  margin: 0;
  margin-top: 18px;
  margin-right: auto;
  padding: 0;

  list-style: none;
}

.site-nav-item {
  position: relative;
}

.site-nav-item:not(:last-child) {
  margin-right: 6px;
}

.site-nav-link {
  position: relative;

  padding: 5px 13px 7px 14px;

  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: var(--white);
  text-decoration: none;

  border-radius: 26px;
}

.site-nav-link::after {
  content: "";
  position: absolute;
  bottom: 6px;
  left: 12px;

  width: calc(100% - 24px);

  border-bottom: 1px solid var(--link-underline);
}

.site-nav-link:focus,
.site-nav-link:hover {
  color: var(--black-main);

  background-color: var(--white);
}

.site-nav-link:not([href]) {
  color: var(--white);
  text-decoration: none;

  background-color: var(--menu-no-link);
}

.nav-catalog-list {
  position: absolute;
  top: 32px;
  left: -6px;

  display: none;
  min-width: 143px;
  min-height: 171px;
  margin: 0;
  padding: 0;

  list-style: none;

  background-color: var(--white);
  border-radius: 4px;
  box-shadow: 0 20px 20px var(--box-shadow);
}

.nav-catalog-container:hover {
  min-height: 36px;
}

.nav-catalog-container:hover .site-nav-link {
  color: var(--black-main);

  background-color: var(--white);
  border-radius: 70px;
}

.nav-catalog-container:hover .site-nav-link:not([href]) {
  color: var(--white);
  text-decoration: none;

  background-color: var(--menu-no-link);
}

.site-nav-link:focus ~ .nav-catalog-list,
.nav-catalog-container:hover .nav-catalog-list {
  display: block;
}

.nav-catalog-item.new-items {
  margin-bottom: 5px;
  padding: 10px 20px 9px 21px;

  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: var(--black-main);
}

.new-items::after {
  content: "";
  position: absolute;
  top: 37px;
  left: 6;

  width: 90%;

  border-bottom: 1px solid var(--link-dark-underline);
}

.site-nav-item .site-nav-link:active {
  background-color: var(--nav-active);
  box-shadow: inset 0 2px 1px var(--box-shadow-active);
}

.nav-catalog-link {
  display: block;
  min-height: 27px;
  padding: 8px 20px 7px 21px;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--black-main);
}

.nav-catalog-link:focus,
.nav-catalog-link:hover {
  background-color: var(--menu-hover);
}

.nav-catalog-link:active {
  background-color: var(--menu-active);
}

.nav-catalog-link:not([href]) {
  color: var(--white);

  background-color: var(--menu-no-link);
}

.user-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 14px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.user-nav-link {
  color: var(--white);

  background-color: var(--white-transparent);
}

.user-nav-link .text {
  margin: 0;

  vertical-align: middle;
}

.user-nav-link:hover {
  color: var(--black-main);

  background-color: var(--white);
}

.user-nav-item {
  position: relative;
  z-index: 2; /* Выше блока contacts-short(z-index 1)*/

  margin-bottom: 10px;
}

.user-nav-item:not(:last-child) {
  margin-right: 10px;
}

.user-nav-input {
  width: 100%;
  height: 44px;
  margin-bottom: 20px;
  padding-bottom: 2px;
  padding-left: 14px;

  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: var(--black-main);

  border: 1px solid var(--input-border);
  border-radius: 4px;
}

.user-nav-input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--gray-dark);
}

.user-nav-input:hover {
  border: 2px solid var(--input-border-hover);
}

.user-nav-input:focus,
.user-nav-input:active {
  outline-color: var(--input-border-active);
}

.search-container:hover {
  min-height: 36px;
}

.search {
  display: block;
  height: 32px;
  padding: 8px;

  border-radius: 70px;
}

.search:focus,
.search-container:hover .search {
  color: var(--black-main);

  background-color: var(--white);
}

.search-icon {
  width: 16px;
  height: 16px;

  fill: var(--white);
}

.search:focus .search-icon,
.search-container:hover .search-icon {
  fill: var(--black-main);
}

.form-search {
  position: absolute;
  top: 36px;
  right: 0;

  display: none;
  width: 341px;
  min-height: 84px;
  padding: 20px 15px 0;

  background-color: var(--gray-pale);
  border-radius: 4px;
  box-shadow: 0 20px 20px var(--box-shadow);
}

.search:focus ~ .form-search,
.search-container:hover .form-search {
  display: block;
}

.entrance-container:hover {
  min-height: 36px;
}

.entrance {
  display: inline-block;
  min-width: 92px;
  padding: 6px 16px 7px;

  vertical-align: middle;

  border-radius: 70px;
}

.entrance:focus,
.entrance-container:hover .entrance {
  color: var(--black-main);

  background-color: var(--white);
}

.entrance-icon {
  display: inline-block;
  margin-right: 4px;

  vertical-align: middle;

  fill: var(--white);
}

.entrance:focus .entrance-icon,
.entrance-container:hover .entrance-icon {
  fill: var(--black-main);
}

.form-entrance {
  position: absolute;
  top: 36px;
  right: 0;

  display: none;
  width: 277px;
  min-height: 214px;
  padding: 20px 17px 0 19px;

  background-color: var(--gray-pale);
  border-radius: 4px;
  box-shadow: 0 20px 20px var(--box-shadow);
}

.entrance:focus ~ .form-entrance,
.entrance-container:hover .form-entrance {
  display: block;
}

.form-entrance .button {
  margin-right: 19px;
  padding: 14px 26px;

  line-height: 16px;
}

.box {
  display: flex;
  justify-content: space-between;
}

.user-account {
  padding-top: 3px;
}

.user-account-link {
  position: relative;

  display: inline-block;

  vertical-align: middle;
  color: var(--link-dark);
  text-decoration: none;
  letter-spacing: -0.6px;
}

.user-account-link:not(:last-of-type) {
  margin-bottom: 5px;
}

.user-account-link:hover,
.user-account-link:active,
.user-account-link:focus {
  color: var(--link-dark-hover);
}

.user-account-link::after {
  content: "";
  position: absolute;
  top: 14px;
  left: 0;

  width: 100%;

  border-bottom: 1px solid var(--link-dark-underline);
}

.user-account-link:hover::after,
.user-account-link:active::after,
.user-account-link:focus::after {
  border-color: var(--link-dark-hover-underline);
}

.basket-container:hover {
  position: relative;

  min-height: 36px;
}

.basket {
  display: block;
  min-width: 100px;
  padding: 6px 16px 6px 15px;

  border-radius: 70px;
}

.basket.not-empty {
  color: var(--black-main);

  background-color: var(--white);
}

.basket-icon {
  margin-right: 5px;

  vertical-align: middle;

  fill: var(--white);
}

.user-nav-link:hover .basket-icon {
  fill: var(--black-main);
}

.products {
  position: absolute;
  top: 36px;
  right: 0;

  display: none;
  flex-direction: column;
  width: 539px;
  padding: 20px 15px 21px 21px;

  font-size: 13px;
  line-height: 16px;
  color: var(--black-main);

  background-color: var(--gray-pale);
  border-radius: 4px;
  box-shadow: 0 20px 20px var(--box-shadow);
}

.basket:focus ~ .products,
.basket-container:hover .products {
  display: flex;
}

.products-list {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;

  list-style: none;

  border-bottom: 1px solid var(--gray);
}

.products-item {
  position: relative;

  display: flex;
  width: 493px;
}

.products-item {
  margin-bottom: 16px;
}

.products-item-image {
  margin-right: 13px;
  padding-left: 20px;
}

.products-item-img {
  border-radius: 50%;
}

.products-item-name {
  width: 218px;
  margin: 0;
  margin-top: 9px;
  margin-right: 30px;
}

.products-item-weight {
  margin: 0;
  margin-top: 9px;
  margin-right: 25px;
}

.products-item-value {
  color: grey;
}

.products-item-price {
  margin: 0;
  margin-top: 9px;
}

.close-button {
  position: absolute;
  top: calc(50% - 9px);
  left: 0;

  width: 11px;
  height: 11px;
  padding: 0;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.products-total-price {
  align-self: flex-end;
  margin: 0;
  margin-bottom: 15px;

  font-weight: 700;
  font-size: 15px;
}

.products .button {
  align-self: flex-end;
  padding: 10px 15px;
}

.holder {
  display: flex;
}

.contacts-short {
  z-index: 1; /*Выше блока slider*/

  margin-left: auto;

  text-align: right;
}

.schedule {
  margin: 0;
  margin-bottom: 9px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.phone.white {
  font-size: 22px;
  color: var(--white);
}

.phone.white:hover,
.phone.white:active,
.phone.white:focus {
  color: var(--link-hover);

  text-decoration-color: var(--link-hover-underline);
}

.preferences {
  width: 100%;
  margin-bottom: 40px;
  padding: 24px 20px 30px;

  color: var(--black-main);

  background-color: var(--brown-sand);
  border-radius: 16px;
}

.preferences-title {
  margin: 0;
  margin-bottom: 7px;

  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.preferences-list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;
  column-gap: 26px;

  grid-template-columns: 540px 540px;
  row-gap: 13px;
}

.preferences-item {
  padding: 9px 4px 0 55px;

  background-repeat: no-repeat;
  background-position: 0 0;
}

.preferences-item.ice-cream {
  background-image: url(../img/ice-cream.svg);
}

.preferences-item.cow {
  background-image: url(../img/cow.svg);
}

.preferences-item.eco {
  background-image: url(../img/eco.svg);
}

.preferences-item.thermometer {
  background-image: url(../img/thermometer.svg);
}

.content-wrapper {
  display: grid;
  margin-bottom: 40px;

  gap: 26px;
  grid-template-columns: 560px 560px;
  grid-template-rows: minmax(220px, auto);
}

.blog {
  padding: 18px 20px;

  color: var(--black-main);

  background-color: var(--white);
  background-image: url(../img/bg-strawberry.jpg);
  background-repeat: no-repeat;
  border-radius: 16px;
}

.blog-subject {
  margin: 0;
  margin-bottom: 3px;

  font-weight: 500;
}

.blog-title {
  width: 287px;
  margin: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--link-dark);
  text-decoration: underline;

  text-decoration-color: var(--link-dark-underline);
}

.blog-title:hover,
.blog-title:active,
.blog-title:focus {
  color: var(--link-dark-hover);

  text-decoration-color: var(--link-dark-hover-underline);
}

.subscription {
  position: relative;

  width: 548px;
  height: 208px;
  margin-top: 6px;
  margin-left: 6px;
  padding: 17px 14px;

  background-color: var(--gray-pale);
  border-width: 6px;
  border-style: solid;
  border-color: transparent;
  border-radius: 16px;
}

.subscription:before {
  content: "";
  position: absolute;
  top: -12px;
  left: -12px;
  z-index: -1; /* Прячем под основной блок, создается эффект border */

  width: 560px;
  height: 220px;

  background-image: url(../img/bg-email.png);
}

.subscription-desc {
  margin: 0;
  margin-bottom: 40px;

  color: var(--gray-darkest);
}

.form-subscription {
  display: flex;
  align-items: baseline;
}

.form-field {
  width: 368px;
  margin-right: 10px;
}

.subscription-input {
  width: 100%;
  height: 44px;
  padding: 10px 14px;

  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: var(--black-main);

  background-color: var(--white);
  border: 1px solid var(--gray-pale-transparent);
  border-radius: 6px;
}

.subscription-input:hover,
.subscription-input:focus {
  border: 2px solid var(--input-border-hover);
}

.subscription-input:focus,
.subscription-input:active {
  outline-color: var(--input-border-active);
}

.subscription-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--gray-dark);
}

.subscription .button {
  padding: 11px 19px 10px;

  cursor: pointer;
}

.map-wrapper {
  position: relative;

  margin-bottom: 18px;
}

.map {
  height: 430px;
  overflow: hidden;
}

.map-image {
  width: 100%;
}

.contacts {
  position: absolute;
  top: 62px;

  display: flex;
  flex-direction: column;
  width: 302px;
  margin-left: 843px;
  padding: 30px 25px;

  font-size: 14px;
  line-height: 20px;
  color: var(--black-main);

  background-color: var(--white-darkest);
  border-radius: 16px;
}

.contacts .address {
  margin: 0;
  margin-bottom: 22px;
}

.contacts .large {
  font-size: 18px;
  line-height: 24px;
}

.contacts .details {
  margin: 0;
  margin-bottom: 27px;
}

.phone {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: var(--black-main);
}

.phone:hover,
.phone:active,
.phone:focus {
  color: var(--link-dark-hover);

  text-decoration-color: var(--link-dark-hover-underline);
}

.footer-wrapper {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
}

.socials-container {
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 16px;

  list-style: none;
}

.socials-item:not(:last-child) {
  margin-right: 8px;
}

.socials-link {
  display: block;
  width: 36px;
  height: 36px;

  border: 2px solid var(--white-pale-transparent);
  border-radius: 50%;
}

.socials-link-icon {
  fill: var(--white-pale);
}

.socials-link:hover .socials-link-icon,
.socials-link:focus .socials-link-icon {
  fill: var(--white);
}

.socials-link:active {
  border-color: var(--white-light-transparent);
}

.about-us {
  padding-top: 12px;

  justify-self: center;
}

.about-us-container {
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;
  column-gap: 32px;

  grid-template-columns: auto auto;
  row-gap: 1px;
}

.about-us-link {
  position: relative;

  font-size: 13px;
  line-height: 18px;
  color: var(--link);
  text-decoration: none;
}

.about-us-link::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 0;

  width: 100%;

  border-bottom: 1px solid var(--link-underline);
}

.about-us-link:hover,
.about-us-link:active,
.about-us-link:focus {
  color: var(--link-hover);
}

.about-us-link:hover::after,
.about-us-link:active::after,
.about-us-link:focus::after {
  color: var(--link-hover);

  border-color: var(--link-hover-underline);
}

.heart {
  font-weight: 700;
}

.heart::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -21px;

  display: block;
  width: 15px;
  height: 13px;

  background-image: url(../img/heart.svg);
  background-repeat: no-repeat;
}

.catalog {
  display: grid;
}

.catalog-item .description {
  z-index: 2; /*Должен быть "выше" фона для работоспособности :hover*/

  color: var(--link);
  text-decoration: underline;

  text-decoration-color: var(--link-underline);
}

.catalog-item .description:hover,
.catalog-item .descriptiofn:active,
.catalog-item .description:focus {
  color: var(--link-hover);

  text-decoration-color: var(--link-hover-underline);
}

.html-academy {
  margin: 0;

  justify-self: end;
}

.html-academy {
  font-size: 12px;
  line-height: 18px;
}

.html-academy-image {
  display: block;
  width: 108px;
  height: 39px;
  margin-bottom: 5px;

  background-image: url(../img/logo-htmlacademy.svg);
  background-repeat: no-repeat;
}

.html-academy-icon {
  fill: var(--white);
}

.html-academy-text {
  margin: 0;
}

.html-academy-link {
  position: relative;

  font-size: 12px;
  line-height: 18px;
  color: var(--link);
  text-decoration: none;
}

.html-academy-link:hover,
.html-academy-link:active,
.html-academy-link:focus {
  color: var(--link-hover);
}

.html-academy-link::after {
  content: "";
  position: absolute;
  top: 13px;
  left: 0;

  width: 100%;

  border-bottom: 1px solid var(--link-underline);
}

.html-academy-link:hover::after,
.html-academy-link:active::after,
.html-academy-link:focus::after {
  border-color: var(--link-hover-underline);
}

.breadcrumps {
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 26px;

  list-style: none;
  font-size: 14px;
  line-height: 16px;
}

.breadcrumps-link {
  margin-right: 8px;

  color: var(--link);
  text-decoration: underline;

  text-decoration-color: var(--link-underline);
}

.breadcrumps-link:hover,
.breadcrumps-link:active,
.breadcrumps-link:focus {
  color: var(--link-hover);

  text-decoration-color: var(--link-hover-underline);
}

.breadcrumps .arrow {
  margin-right: 8px;
}

.catalog-title {
  margin: 0;
  margin-bottom: 25px;

  font-weight: 700;
  font-size: 35px;
  line-height: 35px;
}

.catalog-list {
  display: grid;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  list-style: none;
  column-gap: 26px;

  grid-template-columns: 267px 267px 267px 267px;
  row-gap: 37px;
}

.catalog-item {
  position: relative;

  display: flex;
  flex-direction: column;
}

.catalog-item-background {
  position: absolute;

  display: none;
  align-self: center;
  width: calc(100% + 26px);
  height: calc(100% + 79px);
  margin-top: -6px;

  text-align: center;
}

.catalog-item:hover .catalog-item-background {
  z-index: 1; /*Позволяет быть фону выше соседних блоков*/

  display: block;

  background-color: var(--white-transparent);
}

.catalog-item .hit {
  position: absolute;
  top: 0;
  left: 0;
}

.catalog-item-image {
  margin-bottom: 13px;

  border-radius: 50%;
}

.catalog-item .button {
  align-self: center;
}

.catalog-item:hover .button {
  position: relative;
  top: calc(100% - 54px);
}

.catalog-item .price {
  position: absolute;
  top: 210px;

  margin: 0;

  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
}

.catalog-item .weight {
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
}

.catalog-item .description {
  align-items: center;

  font-weight: 500;
  text-align: center;
}

.slider {
  position: relative;

  margin-top: -42px;
  margin-bottom: -26px;

  text-align: center;
  color: var(--white);
}

.slider-container {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  min-height: 590px;
}

.slider-item-hidden {
  display: none;
}

.slider-image {
  margin-bottom: -275px;
}

.slider .description {
  width: 680px;
  margin: 0 auto;
  margin-bottom: 45px;

  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
}

.slider .button {
  padding: 12px 40px 13px;

  font-size: 32px;
}

.slider-controls {
  position: absolute;
  bottom: 89px;
  left: 0;
  z-index: 2;

  display: flex;
  justify-content: space-between;
  width: 79px;
}

.slider-button {
  width: 21px;
  height: 21px;
  padding: 0;

  background-color: transparent;
  border: 2px solid var(--white);
  border-radius: 50%;
  cursor: pointer;
}

.slider-button.current {
  background-color: var(--white);
}

.banners {
  position: relative;
  z-index: 1;

  margin-bottom: 40px;

  font-weight: 700;
}

.banners-container {
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;

  gap: 26px;
  grid-template-columns: 560px 560px;
}

.raspberry {
  background-color: var(--red-dark);
  background-image: url(../img/bg-raspberry.jpg);
}

.chocolate {
  background-color: var(--brown);
  background-image: url(../img/bg-chocolate.jpg);
}

.banners-item {
  display: flex;
  flex-direction: column;
  min-height: 229px;
  padding: 16px;
  padding-right: 22px;

  border-radius: 16px;
}

.banners-item .title {
  margin: 0;
  margin-bottom: 16px;

  font-size: 35px;
  line-height: 41px;
}

.banners-item .description {
  margin: 0;
  margin-bottom: 42px;

  font-size: 18px;
}

.banners-button {
  margin-left: auto;
  padding: 12px 22px;

  text-shadow: none;

  border-radius: 26px;
  box-shadow: 0 2px 2px var(--box-shadow-bg);
}

.main-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 869px;
  margin-bottom: 40px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--white);
}

.form-subtitle {
  margin-bottom: 7px;
  margin-left: 16px;

  font-size: 14px;
  line-height: 16px;
}

.form-filter {
  width: 196px;
  margin-bottom: 14px;
}

.form-sorting {
  width: 100%;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--white);

  background-color: var(--white-transparent);
}

.form-price {
  width: 218px;
  margin-bottom: 14px;

  font-size: 14px;
  line-height: 16px;
}

.form-price-container {
  display: inline-block;
  width: 28px;
}

.form-price-value {
  width: 100%;
  padding: 0;

  font-weight: 500;
  text-align: center;
  color: var(--white);

  background-color: transparent;
  border: none;
}

.price-range {
  background-color: var(--white-transparent);
}

.form-fatness {
  width: 425px;
  margin: 0;
  margin-bottom: 14px;
  padding: 0;

  background-color: var(--white-transparent);
}

.form-fatness-container {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.form-filler {
  margin: 0;
  padding: 0;

  background-color: var(--white-transparent);
}

.form-filler-container {
  display: flex;
  justify-content: space-between;
  width: 711px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination {
  display: flex;
  justify-content: space-between;
  width: 194px;
  margin: 0 0 30px auto;
  padding: 0;

  list-style: none;
  font-weight: 500;
  line-height: 18px;
}
.pagination-link {
  color: var(--white);
}

.pagination-link:hover {
  background-color: var(--white-transparent);
}

.pagination-link:active,
.pagination-link:not([href]) {
  color: var(--black-main);

  background-color: var(--white);
}

.arrow-back-link,
.arrow-forward-link {
  color: var(--white);
}

.arrow-back-link:not([href]),
.arrow-forward-link:not([href]) {
  color: var(--white-transparent);
}

.main .line {
  border-bottom: 1px solid var(--white-transparent);
}

.main-footer {
  margin-bottom: 25px;
}

.feedback {
  position: fixed;
  top: 50%;
  right: 50%;
  z-index: 999; /*Выше всех элементов*/

  display: none;
  width: 476px;
  height: 441px;
  padding: 20px 25px 27px 24px;

  background-color: var(--gray-pale);
  border-radius: 6px;
  transform: translate(50%,-50%);
}

.feedback .title {
  margin: 0;
  margin-bottom: 25px;

  font-weight: 700;
  font-size: 22px;
  line-height: 18px;
  color: var(--black-main);
  letter-spacing: 1px;
}

.form-feedback {
  display: flex;
  flex-direction: column;
}

.feedback-input {
  width: 267px;
  height: 44px;
  margin-bottom: 20px;
  padding: 12px 14px;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--black-main);

  border: 1px solid var(--input-border);
  border-radius: 4px;
}

.feedback-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--gray-dark);
}

.feedback-input:hover {
  border: 2px solid var(--gray-pale-transparent);
}

.feedback-input:focus,
.feedback-input:active {
  outline-color: var(--input-border-active);
}

.feedback-input.feedback-textarea {
  width: 100%;
  height: 154px;
  margin-bottom: 25px;
}

.feedback .button {
  align-self: flex-end;
  padding-right: 24px;
  padding-left: 24px;

  cursor: pointer;
}

.feedback .close-button {
  top: 15px;
  right: 16px;
  left: auto;

  width: 18px;
  height: 17px;
}

.close-button-image {
  display: block;
}
