:root {
  --black: #000000; /*basket-item-weight*/
  --black-dark: #2c2829; /*close-button bg*/
  --black-darkest: #231f20; /*hits*/
  --black-light: #323232; /*gllacy advantages text, blog-section, request block, basket-item-price*/
  --blue: #8996a6; /*background-green*/
  --brown: #53301c; /*banner-chocolate-bg*/
  --brown-pale: #9d8b84; /*background-brown*/
  --brown-sand: #f3e7d1; /*preferences-bg*/
  --button-bg: linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  --button-bg-active: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  --button-bg-hover: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  --button-shadow: rgba(172, 16, 0, 0.64);
  --gray: #cacac7; /*hr*/
  --gray-dark: #999999; /*placeholders-text*/
  --gray-darkest: #5a5a5a; /*subscription-text*/
  --gray-pale: #f8f7f4; /*subscription, basket*/
  --gray-pale-transparent: rgba(178, 178, 178, 0.52); /*subscription-border-color*/
  --gray-transparent: rgba(49, 50, 53, 0.5); /*catalog-prices-text-shadow*/
  --green: #849d8f; /*background-green*/
  --link: #ffffff;
  --link-dark: #323232;
  --link-dark-hover: #e84d37;
  --link-dark-hover-underline: rgba(232, 77, 55, 0.3);
  --link-dark-underline: rgba(50, 50, 50, 0.3);
  --link-hover: #ffbc9e;
  --link-hover-underline: rgba(255, 188, 158, 0.3);
  --link-underline: rgba(255, 255, 255, 0.3);
  --menu-active: #f6b5a5;
  --menu-hover: #fbded7;
  --menu-no-link: #d07058;
  --navigation-active: #ededed;
  --navigation-hover: var(--white);
  --navigation-no-link: #d07058;
  --red: #e84d37; /*map-pin*/
  --red-dark: #94000d; /*banner-raspberry-bg*/
  --white: #ffffff;
  --white-darkest: #fefefe; /*contacts-bg*/
  --white-pale: rgba(255, 255, 255, 0.8); /*socials-bg*/
  --white-transparent: rgba(255, 255, 255, 0.2); /*icon/forms - backgroundS, catalog-item-bg*/
}

body {
  display: grid;

  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", "Arial", sans-serif;
  color: var(--white);

  background-color: var(--green);

  grid-template-rows: auto auto 60px;
}

.main-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding-right: 27px;
  padding-left: 27px;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

.button {
  padding: 11px 17px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
  text-decoration: none;

  background-image: var(--button-bg);
}

.button:hover {
  background-image: var(--button-bg-hover);
}

.button:active {
  background-image: var(--button-bg-active);
}

.button-white {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(---white);

  background-color: var(--white-transparent);
  background-image: none;
}

.button-white:hover,
.button-white:active {
  color: var(--black-light);

  background-color: var(--white);
  background-image: none;
}

.page {
  height: 100%;
}

.page-body {
  display: grid;
  align-content: start;
  min-height: 100%;

  grid-template-rows: min-content 1fr min-content;
}

.header-wrapper {
  display: grid;
  padding-top: 9px;

  column-gap: 20px;

  outline: 5px solid rgba(0, 255, 0, 0.3);
  outline-offset: -5px;

  grid-template-columns: auto 267px;
}

.main-navigation {
  display: flex;
  align-items: center;

  outline: 5px solid rgba(0, 0, 255, 0.3);
  outline-offset: -5px;

  grid-column: 1 / -1;
}

.main-logo-link {
  margin-right: 24px;

  outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px;
}

.main-logo {
  display: block;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 680px;
  margin-right: auto;
  padding: 0;

  list-style: none;

  outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px;
}

.site-navigation-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: var(--white);
  text-decoration: underline;

  text-decoration-color: var(--white-transparent);
}

.site-navigation-link:active {
  background-color: var(--white-dark);
}

.site-navigation-link:not([href]) {
  color: var(--white);
  text-decoration: none;

  background-color: var(--menu-no-link);
}

.site-navigation-item:not(:last-child) {
  margin-right: 32px;
}

.site-navigation-link:hover {
  color: var(--black-light);

  background-color: var(--white);
}

.catalog-dropdown ul,
.search-form,
.entry-form {
  display: none;
}

.user-navigation {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px;
}

.user-navigation-link {
  color: var(--white);

  background-color: var(--white-transparent);
}

.user-navigation-link:hover {
  color: var(--black-light);

  background-color: var(--white);
}

.user-navigation-link:not(:last-child) {
  margin-right: 10px;
}

.basket.active {
  color: var(--black-light);

  background-color: var(--white);
}

.basket-items {
  display: none;
}

.contacts-short {
  text-align: right;

  outline: 5px solid rgba(0, 0, 255, 0.3);
  outline-offset: -5px;

  grid-column: -2 / -1;
}

.schedule {
  margin: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.phone.white {
  font-size: 22px;
  color: var(--white);
}

.phone.white:hover,
.phone.white:active,
.phone.white:focus {
  color: var(--link-hover);

  text-decoration-color: var(--link-hover-underline);
}

.preferences {
  width: 100%;
  margin-bottom: 40px;
  padding-top: 24px;
  padding-right: 20px;
  padding-bottom: 36px;
  padding-left: 20px;

  color: var(--black-light);

  background-color: var(--brown-sand);
}

.preferences-title {
  margin: 0;
  margin-bottom: 21px;

  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.preferences-list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;
  column-gap: 27px;

  grid-template-columns: 540px 540px;
  row-gap: 33px;
}

.preferences-item {
  padding-left: 55px;
}

.content-wrapper {
  display: grid;

  column-gap: 26px;

  grid-template-columns: 560px 560px;
  grid-template-rows: minmax(220px, auto);
}

.blog {
  margin-bottom: 40px;
  padding-top: 23px;
  padding-right: 20px;
  padding-bottom: 23px;
  padding-left: 20px;

  color: var(--black-light);

  background-color: var(--white);
  background-image: url(../img/bg-strawberry.jpg);
  background-repeat: no-repeat;
}

.blog-subject {
  margin: 0;
  margin-bottom: 15px;

  font-weight: 500;
}

.blog-title {
  width: 287px;
  margin: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--link-dark);
  text-decoration: underline;

  text-decoration-color: var(--link-dark-underline);
}

.blog-title:hover,
.blog-title:active,
.blog-title:focus {
  color: var(--link-dark-hover);

  text-decoration-color: var(--link-dark-hover-underline);
}

.subscription {
  margin-bottom: 40px;
  padding-top: 34px;
  padding-right: 22px;
  padding-bottom: 40px;
  padding-left: 26px;

  background-color: var(--gray-pale);
}

.subscription-desc {
  margin: 0;
  margin-bottom: 40px;

  color: var(--gray-darkest);
}

.subscription-form {
  display: flex;
  align-items: baseline;
}

.form-field {
  flex-grow: 1;
  margin-right: 10px;
}

.subscription-input {
  width: 100%;

  font: inherit;
  font-weight: 700;
  line-height: 24px;
  color: var(--black-light);

  background-color: var(--white);
}

.subscription-input::placeholder {
  line-height: 24px;
  color: var(--gray-dark);
}

.map-wrapper {
  position: relative;

  margin-bottom: 18px;
}

.map {
  max-height: 430px;
  overflow: hidden;
}

.map-image {
  width: 100%;
}

.contacts {
  position: absolute;
  top: 62px;

  width: 302px;
  margin-left: 843px;
  padding-top: 32px;
  padding-right: 25px;
  padding-bottom: 31px;
  padding-left: 25px;

  font-size: 14px;
  line-height: 20px;
  color: var(--black-light);

  background-color: var(--white-darkest);
}

.contacts .address {
  margin: 0;
  margin-bottom: 30px;
}

.contacts .large {
  font-size: 18px;
  line-height: 24px;
}

.phone {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: var(--black-light);
}

.phone:hover,
.phone:active,
.phone:focus {
  color: var(--link-dark-hover);

  text-decoration-color: var(--link-dark-hover-underline);
}

.footer-wrapper {
  display: grid;
  align-items: end;

  grid-template-columns: 1fr 1fr 1fr;
}

.socials-container {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.socials-item:not(:last-child) {
  margin-right: 12px;
}

.socials-link {
  color: var(--black-light);

  background-color: var(--white-pale);
}

.about-us {
  justify-self: center;
}

.about-us-container {
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;
  column-gap: 32px;

  grid-template-columns: auto auto;
}

.about-us-link {
  font-size: 13px;
  line-height: 18px;
  color: var(--link);
  text-decoration: underline;

  text-decoration-color: var(--link-underline);
}

.about-us-link:hover,
.about-us-link:active,
.about-us-link:focus {
  color: var(--link-hover);

  text-decoration-color: var(--link-hover-underline);
}

.catalog-item .description {
  z-index: 2; /*Должен быть "выше" фона для работоспособности :hover*/

  color: var(--link);
  text-decoration: underline;

  text-decoration-color: var(--link-underline);
}

.catalog-item .description:hover,
.catalog-item .description:active,
.catalog-item .description:focus {
  color: var(--link-hover);

  text-decoration-color: var(--link-hover-underline);
}

.made-in-html-academy {
  margin: 0;

  justify-self: end;
}

.made-in-html-academy {
  font-size: 12px;
  line-height: 18px;
}

.html-academy-link {
  font-size: 12px;
  line-height: 18px;
  color: var(--link);
  text-decoration: underline;

  text-decoration-color: var(--link-underline);
}

.html-academy-link:hover,
.html-academy-link:active,
.html-academy-link:focus {
  color: var(--link-hover);

  text-decoration-color: var(--link-hover-underline);
}

.breadcrumps {
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 26px;

  list-style: none;
  font-size: 14px;
  line-height: 16px;
}

.breadcrumps-link {
  margin-right: 8px;

  color: var(--link);
  text-decoration: underline;

  text-decoration-color: var(--link-underline);
}

.breadcrumps-link:hover,
.breadcrumps-link:active,
.breadcrumps-link:focus {
  color: var(--link-hover);

  text-decoration-color: var(--link-hover-underline);
}

.breadcrumps .arrow {
  margin-right: 8px;
}

.main-title {
  margin: 0;

  font-weight: 700;
  font-size: 35px;
}

.catalog-list {
  display: grid;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  list-style: none;
  column-gap: 26px;

  grid-template-columns: 267px 267px 267px 267px;
  row-gap: 37px;
}

.catalog-item {
  position: relative;

  display: flex;
  flex-direction: column;
}

.catalog-item-background {
  position: absolute;

  display: none;
  align-self: center;
  width: calc(100% + 26px);
  height: calc(100% + 79px);
  margin-top: -6px;

  text-align: center;
}

.catalog-item:hover .catalog-item-background {
  z-index: 1; /*Позволяет быть фону выше соседних блоков*/

  display: block;

  background-color: var(--white-transparent);
}

.catalog-item .hit {
  color: var(--black-darkest);

  background-color: var(--white);
}

.catalog-item-image {
  margin-bottom: 12px;

  border-radius: 50%;
}

.catalog-item .button {
  align-self: center;
}

.catalog-item:hover .button {
  position: relative;
  top: calc(100% - 54px);
}

.catalog-item .price {
  position: absolute;
  bottom: 69px;

  margin: 0;

  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
}

.catalog-item .weight {
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
}

.catalog-item .description {
  align-items: center;
  padding: 0 5px;

  font-weight: 500;
  text-align: center;
}

.slider ul {
  list-style: none;
}

.slider .description {
  align-self: center;
  padding: 0 5px;

  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
}

.banners {
  font-weight: 700;
}

.banners-container {
  list-style: none;
}

.banners-item .title {
  font-size: 35px;
  line-height: 41px;
}

.banners-item .description {
  font-size: 18px;
}

.main-form {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--white);
}

.main-form .filter {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--white);
}

.main-form .price-min,
.main-form .price-max {
  font-size: 14px;
  line-height: 16px;
}

.main-form .subtitle {
  font-size: 14px;
  line-height: 16px;
}

.main-form .price-min,
.main-form .price-max {
  font-weight: 500;
  color: var(--white);

  background-color: transparent;
}

.filter {
  background-color: var(--white-transparent);
}

.price-range {
  background-color: var(--white-transparent);
}

.fatness {
  background-color: var(--white-transparent);
}
.fatness-container {
  list-style: none;
}

.filler {
  background-color: var(--white-transparent);
}

.filler-container {
  list-style: none;
}

.pagination {
  list-style: none;
  font-weight: 500;
  line-height: 18px;
}
.pagination-link {
  color: var(--white);
}

.pagination-link:hover {
  background-color: var(--white-transparent);
}

.pagination-link:active,
.pagination-link:not([href]) {
  color: var(--black-light);

  background-color: var(--white);
}

.arrow-back-link,
.arrow-forward-link {
  color: var(--white);
}

.arrow-back-link:not([href]),
.arrow-forward-link:not([href]) {
  color: var(--white-transparent);
}

.main-footer {
  margin-bottom: 25px;
}

.hr {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 18px;

  background-color: var(--white-transparent);
}
